@media(max-width:575px){
	.menu {
		position: static;

	}
	.menu a{
		width: 100%;
		padding: 20px 0;
	}

	.background {
		margin-top: 0;
		padding: 100px 10px;
		background-size: cover;
		background-position: center center;
		min-height: 300px;
	}

	.tariff {
		margin: 0px;
		margin-bottom: 10px;
	}
}

@media(max-width:1100px){

	.menu a:hover{
		background-color: #07FFFF;
	}
}

@media(max-width:320px){
	#company {
		padding: 10px;
	}

	#company img {
		margin: 0;
		width: 100%;
	}

	.tariff {
		min-width: 0px;
		width: 100%;
	}

	.member {
		min-width: 0px;
		display: block;
		width: auto;
	}

}


